---
import CreatePositComponent from "../../posit/presentation/component/CreatePositComponent.vue";
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a posit</title>
</head>
<body>
<CreatePositComponent client:load/>
</body>