---
import ListPositComponent from "../../posit/presentation/component/ListPositComponent.vue";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posits</title>
</head>
<body>
<h1>Posits</h1>
<ListPositComponent client:load/>
</body>
</html>